<div id="home">
  <h3>Thông tin cá nhân: {{ name }}</h3>
  <label>Họ và tên:</label>
  <input type="text" [(ngModel)]="name" [title]="'Họ và tên của KH: ' + name" />
  <br /><br />
  <label>Năm sinh: </label>
  <input type="text" [(ngModel)]="age" />
  <div *ngIf="age > 2022; then not; else ok"></div>
  <ng-template #not><span>Năm sinh không hợp lệ</span></ng-template>
  <ng-template #ok><span></span></ng-template>
  <br />
  <br />
  <label>Giới tính:</label>
  <input type="text" value="Nam" /><br /><br />
  <label>Kỹ năng: </label>
  <div *ngFor="let skill of skills; let i = index">
    <li>{{ i + 1 }}.{{ skill }}</li>
  </div>
  <button (click)="resetName()">Reset Name</button>
</div>
